<section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Primary title
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
        <iframe width="1022" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiODE0YmIyOGEtNThiZi00MDRhLWEwOTEtNWFhM2I2OTllNjhjIiwidCI6ImUxNjg3ZTY3LTBkODMtNGNhNS04OGVmLWQ0ODZlODljZmRmZCJ9" frameborder="0" allowFullScreen="true"></iframe>

      </div>
    </div>
  </section>
  