<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification is-success">
      <p class="title">PÁGINA DE PRUEBA</p>
      <p class="subtitle">Esta propuesta consiste en un desarrollo para consulta web de información del reporte entregado en formato excel, por medio de angular y typescript.</p>
      <p class="subtitle">Para el caso planteado, la data se publico en una base de datos MySql y por medio de PHP se consulta la base de datos y se constuye la estructura usada por AMCHARTS para la graficación animada.</p>
      <p class="subtitle">El segundo modelo esta construido en Microsoft Power BI, utilizando la misma data y algunas herramientas de visualización propuetas que incluyen algunas ventajas de interactividad.</p>
      <p class="subtitle">Se disponen al costado derecho de esta página el acceso a las secciones construidas. Por algunas fallas al momento de exportar fue necesario mantener todos los componente temporalmente en una sola página.</p>
      <p>Iván Rueda - ivanruedaud@gmail.com</p>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child notification is-info">
      <p class="title">MySql + PHP</p>
      <p>Gráficas que utlizan un servidor MySql a donde se consulta la data y se presenta al usuario por medio de PHP generando HTML y JScript.</p>
        <br><a class="nav-bar-item" href="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_sede.php" target="_blank"> Gr&aacute;ficos AMCHARTS 1 </a>
        <br><a class="nav-bar-item" href="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_riesgo_des.php" target="_blank"> Gr&aacute;ficos AMCHARTS 2 </a>
        <br><a class="nav-bar-item" href="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_riesgo_niv.php" target="_blank"> Gr&aacute;ficos AMCHARTS 3 </a>
    </div>
    <div class="tile is-child notification is-warning">
      <p class="title">Power BI</p>
      <p>Gráficas que utlizan la plataforma Microsoft Power BI para almacenar, convertir y presentar al usuario gráficas por medio de reportes dinámicos.</p>
        <br><a class="nav-bar-item" href="https://app.powerbi.com/view?r=eyJrIjoiODE0YmIyOGEtNThiZi00MDRhLWEwOTEtNWFhM2I2OTllNjhjIiwidCI6ImUxNjg3ZTY3LTBkODMtNGNhNS04OGVmLWQ0ODZlODljZmRmZCJ9" target="_blank"> Dashboard en  PowerBI </a>
    </div>
  </div>
  
</div>