

<section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          MySql + PHP
        </h1>
        <h2 class="subtitle">
          Requiere conexion a servidor de base de datos 
        </h2>
        <p>
          
        <iframe width="800" height="700" src="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_sede.php" frameborder="0" allowFullScreen="true"></iframe>
        </p><p>
        <iframe width="800" height="900" src="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_riesgo_des.php" frameborder="0" allowFullScreen="true"></iframe>
        </p><p>
        <iframe width="800" height="900" src="http://localhost/src/assets/amcharts4/examples/javascript/cylinder-chart/index_riesgo_niv.php" frameborder="0" allowFullScreen="true"></iframe>
        </p>

      </div>
    </div>
  </section>
  